.header {
   // .header__top
   &__top {
   }
   // .header__bottom
   &__bottom {
   }
}
.top-header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding-top: toRem(38);
   background-color: var(--clr-dark);
   z-index: 50;
   // .top-header__container
   &__container {
   }
   // .top-header__wrapper
   &__wrapper {
      display: flex;
      align-items: center;
      gap: toRem(15);
      justify-content: space-between;
      min-height: toRem(70);
      padding-bottom: toRem(15);
   }
   
   // .top-header__logo
   &__logo {
      flex: 0 0 toRem(70);
      @include circle(70);
      overflow: hidden;
      @media (max-width: toEm(767.98)) {
         z-index: 6;
      }
   }
   // .top-header__menu
   &__menu {
   }
   // .top-header__actions
   &__actions {
      display: flex;
      align-items: center;
      gap: toRem(15);
   }
   // .top-header__language
   &__language {
      @include reset-button;
      @include flex-center(true);
      gap: toRem(8);
      color: var(--clr-white);
      text-transform: uppercase;
      svg {
         @include square(24);
      }

   }
}

.language-second{
         @media (max-width: toEm(767.98)) {
         z-index: 5;
         display: none;
      }
}

.menu {
   // .menu__body
   &__body {
      @media (max-width: toEm(767.98)) {
         position: fixed;
         top: 0;
         left: -100%;
         background-color: var(--clr-dark);
         width: 100%;
         height: 100%;
         padding: toRem(120) toRem(15) toRem(30) toRem(15);
         overflow: auto;
         transition: left 0.3s;
         z-index: 5;
         &::before {
            content: "";
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: toRem(120);
            background-color: var(--menu-body-before-color);
            .menu-open & {
               left: 0;
            }
         }
         .menu-open & {
            left: 0;
         }
      }
   }
   // .menu__list
   &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      @include fluid-property("column-gap", 48, 24, 1200, 767.98);
      row-gap: toRem(10);
      @media (max-width: toEm(767.98)) {
         row-gap: toRem(48);
         flex-direction: column;
      }
   }
   // .menu__item
   &__item {

   }


   
   // .menu__link
   &__link {
      line-height: 125%; /* 25/20 */
      text-transform: uppercase;

      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &::after {
         content: attr(data-text);
         content: attr(data-text) / "";
         height: 0;
         visibility: hidden;
         overflow: hidden;
         user-select: none;
         pointer-events: none;
         font-weight: 700;
         @media speech {
            display: none;
         }
      }
      @media (any-hover: hover) {
         &:hover {
            font-weight: 700;
         }
      }
   }
   // .menu__icon
   &__icon {
   }
}

.menu__parameters{
   display: none;
   @media (max-width: toEm(767.98)) {
      display: block;
   }

}

#bottom-header__color-mode__dark{
   display: block;
}

.bottom-header {
   padding-top: toRem(123);
   // .bottom-header__container
   &__container {
   }
   // .bottom-header__wrapper
   &__wrapper {
      display: flex;
      max-width: 100%;
      justify-content: end;
      padding-block: toRem(21);
      text-align: center;
      border-top: toRem(1) solid var(--clr-white);
      border-bottom: toRem(1) solid var(--clr-white);
   }

   // .bottom-header__input
   &__input {
      @include input-reset;
      max-width: toRem(653);
      font-family: "Urbanist", sans-serif;
      color: var(--clr-white);
      padding-block: toRem(16);
      text-align: center;
      border: toRem(1) solid var(--clr-white);
      border-radius: toRem(16);
      line-height: 125%; /* 25/20 */
      &::placeholder {
         transition: opacity 0.3s;
         color: #bdbdbd;
      }
      &:focus-visible::placeholder {
         opacity: 0;
      }
      &:focus-visible {
         outline: toRem(1) solid var(--clr-yellow);
      }
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
         appearance: none;
      }
   }
   &__back-color{
      display: flex;
      justify-content: end;
      width: clamp(58px, 15vw, 240px);   
   }
   &__color-mode__dark{
      display: none;
   }
}

.icon-menu {
   display: none;
   @media (max-width: toEm(767.98)) {
      @include reset-button;
      display: block;
      position: relative;
      z-index: 5;
      flex: 0 0 toRem(21);
      width: toRem(21);
      height: toRem(14);
      &::before,
      &::after {
         content: "";
         position: absolute;
         right: 0;
         background-color: var(--clr-white);
         width: 100%;
         height: toRem(2);
         border-radius: toRem(2);
         transition: all 0.3s;
      }
      &::before {
         top: 0;
         .menu-open & {
            top: calc(50% - toRem(1));
            transform: rotate(-45deg);
         }
      }
      &::after {
         width: 50%;
         bottom: 0;
         .menu-open & {
            width: 100%;
            bottom: calc(50% - toRem(1));
            transform: rotate(45deg);
         }
      }
   }
   // .icon-menu__line
   &__line {
      @media (max-width: toEm(767.98)) {
         position: absolute;
         top: calc(50% - toRem(1));
         left: 0;
         background-color: var(--clr-white);
         width: 100%;
         height: toRem(2);
         border-radius: toRem(2);
         transition: all 0.3s;
         .menu-open & {
            left: 50%;
            width: 0;
         }
      }
   }
}
