.photo-report {
   // .photo-report__container
   &__container {
   }
   // .photo-report__wrapper
   &__wrapper {
      background-color: var(--clr-yellow);
      color: var(--clr-dark);
      @include fluid-property("padding-top", 103, 50);
      @include fluid-property("padding-bottom", 58, 29);
      @include fluid-property("padding-left", 59, 29);
      @include fluid-property("padding-right", 65, 30);
      display: flex;
      justify-content: space-between;
      gap: toRem(40);
      @media (min-width: toEm(767.98)) {
         align-items: flex-end;
      }
      @media (max-width: toEm(767.98)) {
         flex-direction: column;
      }
   }
   // .photo-report__body
   &__body {
      @media (min-width: toEm(767.98)) {
         flex: 0 1 toRem(536);
      }
   }
   // .photo-report__title
   &__title {
      @include fluid-property("font-size", 72, 20);
      font-weight: 800;
      line-height: 126.388889%; /* 91/72 */
      text-transform: uppercase;
      &:not(:last-child) {
         @include fluid-property("margin-bottom", 50, 25);
      }
   }
   // .photo-report__image
   &__image {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         aspect-ratio: 536 / 659;
      }
   }
   // .photo-report__content
   &__content {
      @media (min-width: toEm(767.98)) {
         flex: 0 1 toRem(495);
      }
   }
}
.content-photo-report {
   // .content-photo-report__body
   &__body {
   }
   // .content-photo-report__list
   &__list {
      &:not(:last-child) {
         margin-bottom: toRem(26);
      }
   }
   // .content-photo-report__item
   &__item {
      @include fluid-property("font-size", 24, 12);
      line-height: 125%; /* 30/24 */
      text-transform: uppercase;
      @include fluid-property("padding-bottom", 31, 17);
      border-bottom: toRem(1) solid var(--clr-black);
      position: relative;
      &:not(:last-child) {
         @include fluid-property("margin-bottom", 32, 16);
      }
      a {
         position: absolute;
         top: 0;
         left: 100%;
         translate: 100% 0;
         white-space: nowrap;
         transition:
            translate 0.3s,
            left 0.3s;
      }
      span {
         transition: opacity 0.3s;
         display: flex;
         justify-content: space-between;
         gap: toRem(15);
         align-items: center;
         svg {
            width: toRem(19);
            height: toRem(14);
            rotate: 180deg;
         }
      }
      &:hover {
         span {
            opacity: 0;
         }
         a {
            width: 100%;
            left: 0;
            translate: 0 0;
         }
      }
   }
   // .content-photo-report__button
   &__button {
      align-items: center;
      gap: toRem(16);
      &:not(:last-child) {
         margin-bottom: toRem(28);
      }
   }
   // .content-photo-report__image
   &__image {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         aspect-ratio: 495 / 447;
      }
   }
}
