.visually-hidden {
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
   padding: 0 !important;
   white-space: nowrap !important;
   clip-path: inset(100%) !important;
   clip: rect(0 0 0 0) !important;
   overflow: hidden !important;
}
//========================================================================================================================================================
.button {
   @include reset-button;
   @include flex-center(true);
   @include fluid-property("gap", 16, 8);
   text-transform: uppercase;
   line-height: 125%; /* 25/20 */
   @include fluid-property("font-size", 20, 12);
   @include fluid-property("padding-block", 20, 12);
   @include fluid-property("padding-inline", 40, 16);
   border-radius: toRem(56);
   background-color: var(--clr-dark);
   color: var(--clr-white);
   svg {
      @include square(24);
   }
   &--white {
      background-color: var(--clr-white);
      color: var(--clr-dark);
   }
   @media (max-width: toEm(479.98)) {
      width: 100%;
   }
}
//========================================================================================================================================================
.photo-portal {
   padding-top: toRem(22);
   @include fluid-property("padding-bottom", 60, 30);
   &--1 {
      @include fluid-property("padding-bottom", 94, 45);
   }
   // .photo-portal__container
   &__container {
   }
   // .photo-portal__title
   &__title {
      text-align: center;
      position: relative;        
      line-height: 26px;
      &::before, &__changed-color-line {
         content: "";
         position: absolute;
         top: 50%;
         translate: 0 -50%;
         left: 0;
         width: 100%;
         height: toRem(1);
         background-color: var(--clr-white);
         z-index: -1;
 
      }
      h2 {
         margin: 0;
         display: inline-block;
         background-color: var(--clr-yellow);
         color: var(--clr-dark);
         font-weight: 500;
         text-transform: uppercase;      
         width: 248px;
         height: 69px;
         @include fluid-property("font-size", 26, 12);
         line-height: 126.923077%; /* 33/26 */
         padding: toEm(11, 24) toEm(5, 24);
         border-radius: toEm(20, 26);
         line-height: 25px;
      }
      &:not(:last-child) {
         margin-bottom: toRem(22);
      }
   }

   .theme-light {
      .photo-portal__title::before {
        background-color: #000; // Линия черного цвета для светлой темы
      }
    }
    
    .theme-dark {
      .photo-portal__title::before {
        background-color: #FFF; // Линия белого цвета для темной темы
      }
    }

   // .photo-portal__items
   &__items {
      display: grid;
      grid-template-columns: 28.5% 34% 28.5%; /* 408/1200 */
      justify-content: space-between;
      @include fluid-property("column-gap", 53, 24, 1200, 767.98);
      row-gap: toRem(33);
      &:not(:last-child) {
         @include fluid-property("margin-bottom", 60, 30);
      }
      @media (max-width: toEm(767.98)) {
         grid-template-columns: repeat(2, 1fr);
      }
   }
   // .photo-portal__item
   &__item {
   }
   // .photo-portal__button
   &__button {
      text-align: center;
   }
}
.item-photo-portal {
   &--raised {
      @media (min-width: toEm(767.98)) {
         margin-top: toRem(-40);
      }
   }
   // .item-photo-portal__image
   &__image {
      display: block;
      overflow: hidden;
      &:not(:last-child) {
         margin-bottom: toRem(14);
      }
      img {
         width: 100%;
         height: 100%;
         aspect-ratio: 342 / 392;
         transition: scale 0.3s;
         @media (any-hover: hover) {
            &:hover {
               scale: 1.05;
            }
         }
      }
      // .item-photo-portal__image--big
      &--big {
         img {
            @media (min-width: toEm(767.98)) {
               aspect-ratio: 408 / 500;
            }
         }
      }
   }
   // .item-photo-portal__title
   &__title {
      @include fluid-property("padding-left", 60, 0);
      text-transform: uppercase;
      font-weight: 500;
      @include fluid-property("font-size", 20, 13);
      line-height: 140%; /* 28/20 */
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
//========================================================================================================================================================
.photo-report {
   // .photo-report__container
   &__container {
   }
   // .photo-report__space
   &__space {
      border-top: toRem(1) solid var(--clr-white);
      @include fluid-property("padding-top", 88, 44);
      @include fluid-property("padding-bottom", 88, 44);
   }
   // .photo-report__wrapper
   &__wrapper {
      background-color: var(--clr-yellow);
      color: var(--clr-dark);
      @include fluid-property("padding-top", 103, 50);
      @include fluid-property("padding-bottom", 58, 29);
      @include fluid-property("padding-left", 59, 29);
      @include fluid-property("padding-right", 65, 30);
      display: flex;
      justify-content: space-between;
      gap: toRem(40);
      @media (max-width: toEm(767.98)) {
         flex-wrap: wrap;
         justify-content: none;
         gap: 1rem;
      }
   }
   // .photo-report__body
   &__body {
      display: flex;
      flex-direction: column;
      width: 50%;      
      @media (max-width: toEm(767.98)) {
         flex: 1 1 40%;
      }
      @media (max-width: toEm(459.98)) {
         height: 420px;     }
   }
   // .photo-report__title
   &__title {
      
      flex: 1 1 auto;
      @include fluid-property("font-size", 72, 20);
      font-weight: 800;
      line-height: 126.388889%; /* 91/72 */
      text-transform: uppercase;
      &:not(:last-child) {
         @include fluid-property("margin-bottom", 50, 25);    
      }  
         @media (max-width: toEm(767.98)) {
            flex: 1 1 40%;
            flex:none;
            font-weight: auto;
      }

      @include fluid-property("font-size", 72, 20);
      line-height: 126.388889%; /* 91/72 */
      margin-top: 52px;
      text-transform: uppercase;
      &:not(:last-child) {
         @include fluid-property("margin-bottom", 50, 25);
      }
   }
   // .photo-report__image
   &__image {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         aspect-ratio: 536 / 650;
      }
      &__img{
         @media (max-width: toEm(767.98)) {
            display: none;
         }
         &__second{
            display: none;
            @media (max-width: toEm(767.98)) {
               display: block;
               aspect-ratio: 536 / 930;

            }
         }
      

      }

   }
   // .photo-report__content
   &__content {
      @media (max-width: toEm(767.98)) {
         margin-top: 33px;
      }
   }
   &__button {
      align-self: flex-start;
   }
}
.content-photo-report {
   width: 50%;
   @media (max-width:toEm(767)) {
      flex: 1 1 40%;
   }

   @media (max-width: toEm(459.98)) {
      height: 420px; 
      padding-bottom: 100px;     
  }

   // .content-photo-report__body
   &__body {
   }
   // .content-photo-report__list
   &__list {
      @media (max-width:toEm(767)) {
            padding: 130px 0 85px;
            }
      &:not(:last-child) {
         margin-bottom: toRem(26);
      }
   }
   // .content-photo-report__item
   &__item {
      @include fluid-property("font-size", 24, 12);
      line-height: 125%; /* 30/24 */
      text-transform: uppercase;
      @include fluid-property("padding-bottom", 31, 17);
      border-bottom: toRem(1) solid var(--clr-black);
      position: relative;
      &:not(:last-child) {
         @include fluid-property("margin-bottom", 32, 16);
      }
      a {
         position: absolute;
         top: 0;
         left: 100%;
         translate: 100% 0;
         white-space: nowrap;
         transition:
            translate 0.3s,
            left 0.3s;
      }
      span {
         transition:
            opacity 0.3s,
            visibility 0.3s;
         display: flex;
         justify-content: space-between;
         gap: toRem(15);
         align-items: center;
         svg {
            width: toRem(19);
            height: toRem(14);
            rotate: 180deg;
         }
      }
      &:hover {
         span {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
         }
         a {
            width: 100%;
            left: 0;
            translate: 0 0;
         }
      }
   }
   // .content-photo-report__button
   &__button {
      align-items: center;
      gap: toRem(16);
      &:not(:last-child) {
         margin-bottom: toRem(28);
         @media (max-width:toEm(767)) {
            display: none;
            }
      }
   }
   // .content-photo-report__image
   &__image {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         aspect-ratio: 495 / 447;
         @media (max-width:toEm(767)) {
            display: none;
         }
      }
   }  
   &__image-second{
      @media (max-width:toEm(767)) {
         width: 100%;
         display: flex;
         justify-content: end;
      }
      img{
         width: 60%;
         height: 100%;
         object-fit: cover;
         aspect-ratio: 495 / 447;
         display: none;
         @media (max-width:toEm(767)) {
            display: block;

         }
      }
   }  

}

//========================================================================================================================================================

.anonces {
   max-width: 1440px;
   display: grid;
   grid-template-columns: 100%;
   justify-content: space-between;
   column-gap: clamp(1.5rem, 6.712652192vw + -1.721989144rem, 3.3125rem);
   row-gap: 2.0625rem;
   margin: 60px auto 0;
   border-top: 0.0625rem solid var(--clr-white);

   &__row {
       display: flex;
       justify-content: space-around;
       margin:60px 0 30px;
       width: 100%;
   }

   // last row
   & > :last-child {
      margin-bottom: 100px;
   }

   &__block {
       position: relative;
       width: 700px;
       img{

         aspect-ratio: 700 / 400;
         transition: scale 0.3s;
       }
   }

   &__image {
       width: 100%;
       height: 100%;
       object-fit: cover;
   }

   &__party {
       position: absolute;
       bottom: 10px;
       left: 10px;
       background-color: rgba(0, 0, 0, 0.5);
       padding: 10px;

       color: #FFF;
   }

   &__text-block {
       width: 650px;
       color: #FFF;
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: left;
       font-size: 20px;
       line-height: 1.5;
       &__second{
         text-align: right;
       }
   }

   &__text-content {
       padding: 10px;
       @media (max-width:toEm(767)) {
         padding: 0;
       }
       p{
         font-size: 24px;
         font-weight: 800;    
         font-size: clamp(0.625rem, 1.3vw + 0.25rem, 1.5rem);
         @media (max-width:toEm(767)) {
            display: none;
            br{
               display: none;
            }
         }
      }
       & > :first-child {
         text-align: center;
         display: block;
      }
}

}