.visually-hidden {
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
   padding: 0 !important;
   white-space: nowrap !important;
   clip-path: inset(100%) !important;
   clip: rect(0 0 0 0) !important;
   overflow: hidden !important;
}

.button {
   @include reset-button;
   @include flex-center(true);
   @include fluid-property("gap", 16, 8);
   text-transform: uppercase;
   line-height: 125%; /* 25/20 */
   @include fluid-property("font-size", 20, 12);
   @include fluid-property("padding-block", 20, 12);
   @include fluid-property("padding-inline", 40, 16);
   border-radius: toRem(56);
   background-color: var(--clr-dark);
   color: var(--clr-white);
   svg {
      @include square(24);
   }
   &--white {
      background-color: var(--clr-white);
      color: var(--clr-dark);
   }
   @media (max-width: toEm(479.98)) {
      width: 100%;
   }
}
