@use "sass:math";

// Подключения шрифтов
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&family=Urbanist&display=swap');

// Сброс стилей
@import "./reset";

// Подключение переменных
@import "./variables";

// Подключение миксинов
@import "./mixins";

// Подключение глобальных стилей
@import "./global";

// Подключение стилей общих элементов проекта
@import "./common";

// Подключение стилей отдельных блоков
@import "./header/header";
@import "./footer/footer";

// Подключение стилей отдельных секции
@import "./blocks/hero";
@import "./blocks/photo-portal";
@import "./blocks/photo-report";
@import "./blocks/vacancy";

//========================================================================================================================================================

// Ширина ограничивающего контейнера
$maxWidthContainer: 1200;
// Общий отступ у контейнера
// 30 = по 15px слева и справа
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

[class*="__container"] {
   max-width: toRem($containerWidth);
   margin-inline: auto;
   padding-inline: toRem(math.div($containerPadding, 2));
}